
@{
    ViewBag.Title = "商城后台";
}
@section styles{
    <style>
        .el-aside {
            display: flex;
            flex-direction: column;
            background-color: #D3DCE6;
            color: #333;
            text-align: center;
            /*line-height: 200px;*/
        }

        .el-header, .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-divider--horizontal {
            height: 10px;
        }

        .div_userinfo {
            height: 150px;
            padding: 5px;
        }

        .box-card {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .clearfix {
            height: 40px;
        }

        .eidt_div {
            min-height: 250px;
            border: 2px solid #B3C0D1;
        }

            .eidt_div img {
                max-width: 100%;
            }
    </style>
}

<el-container>
    <el-aside width="150px" class="asi_left">
        <div class="div_userinfo">
            <img src="~/Content/img/header.png" style="width:120px;height:120px;line-height:0px!important;" />
            <div style="height:20px;line-height:20px;">
                @ViewBag.Zh <el-link type="danger" v-on:click="offLine">注销</el-link>
            </div>
        </div>
        <el-divider></el-divider>
        <div class="div_menu">
            <el-menu default-active="2"
                     class="el-menu-vertical-demo"
                     @*@open="handleOpen"
                     @close="handleClose"*@>
                <el-menu-item index="">
                    <i class="el-icon-menu"></i>
                    <span slot="title">商品管理</span>
                </el-menu-item>
            </el-menu>
        </div>
    </el-aside>
    <el-container>
        <el-header class="">商城后台管理系统</el-header>
        <el-main style="display:flex;flex-direction:column;">
            <el-card class="box-card" style="overflow:auto;">
                <div slot="header" class="clearfix">
                    <el-input v-model="SearchModel.SPName" placeholder="请输入商品名" style="width:30%;min-width:150px;" clearable></el-input>
                    <el-button type="primary" v-on:click="onSearch">查找</el-button>
                    <el-button type="success" v-on:click="onAdd">添加</el-button>
                </div>
                <div style="flex:1">
                    <el-table :data="MainData"
                              style="width: 100%">
                        <el-table-column prop="SPID"
                                         label="商品编号"
                                         width="120">
                        </el-table-column>
                        <el-table-column prop="SPImg"
                                         label="商品缩略图"
                                         width="150">
                            <template slot-scope="scope">
                                <img v-bind:src="JSON.parse(scope.row.SPImg)[0].base64" style="width:60px;height:60px;" />
                            </template>
                        </el-table-column>
                        <el-table-column prop="SPName"
                                         label="商品名称" width="200">
                        </el-table-column>
                        <el-table-column prop="SPStock"
                                         label="库存" width="150">
                        </el-table-column>
                        <el-table-column prop="SPUnitPrice"
                                         label="单价" width="150">
                        </el-table-column>
                        <el-table-column prop="SPRemark"
                                         label="商品简介">
                        </el-table-column>

                        <el-table-column label="操作" width="80">
                            <template slot-scope="scope">
                                <el-button type="primary" icon="el-icon-edit" circle v-on:click="onEdit(scope.row)"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-card>

        </el-main>
    </el-container>

    <el-dialog v-bind:title="DialogForm.title"
               v-bind:visible.sync="DialogForm.visible"
               width="60%"
               v-bind:before-close="onCloseEditDialog" v-bind:close-on-click-modal="false">
        <div>
            <el-form ref="DialogForm" v-bind:model="DialogForm.Form" label-width="80px" v-bind:rules="editRules">
                <el-form-item label="商品名称" prop="SPName">
                    <el-input v-model="DialogForm.Form.SPName" placeholder="请输入商品名称" show-word-limit maxlength="60"></el-input>
                </el-form-item>
                <el-form-item label="商品简介" prop="SPRemark">
                    <el-input v-model="DialogForm.Form.SPRemark" type="textarea" placeholder="请输入商品简介" show-word-limit maxlength="500" v-bind:rows="3"></el-input>
                </el-form-item>
                <el-form-item label="库存" prop="SPStock">
                    <el-input v-model.number="DialogForm.Form.SPStock" placeholder="商品库存"></el-input>
                </el-form-item>
                <el-form-item label="单价" prop="SPUnitPrice">
                    <el-input v-model.number="DialogForm.Form.SPUnitPrice" placeholder="商品单价"></el-input>
                </el-form-item>
                <el-form-item label="图片(至多5张)" prop="SPImg">
                    <ul class="el-upload-list el-upload-list--picture-card">
                        <li v-for="(d,index) in DialogForm.Form.SPImg" class="el-upload-list__item is-ready">
                            <div>
                                <img v-bind:src="d.base64" v-bind:alt="d.fileName" class="el-upload-list__item-thumbnail">
                                <span class="el-upload-list__item-actions">
                                    <span class="el-upload-list__item-preview">
                                        <i class="el-icon-zoom-in" v-on:click="handlePictureCardPreview({url:d.base64})"></i>
                                    </span>
                                    <span class="el-upload-list__item-delete">
                                        <i class="el-icon-delete" v-on:click="DialogForm.Form.SPImg.splice(index,1)"></i>
                                    </span>
                                </span>
                            </div>

                        </li>
                    </ul>
                    <el-upload action="#"
                               list-type="picture-card"
                               v-bind:auto-upload="false" multiple ref="upLoadFiles" v-bind:limit="5"
                               v-bind:on-change="onfileChange">
                        <i slot="default" class="el-icon-plus addimage_icon"></i>
                        <div slot="file" slot-scope="{file}">
                            <img class="el-upload-list__item-thumbnail"
                                 :src="file.url" alt="">
                            <span class="el-upload-list__item-actions">
                                <span class="el-upload-list__item-preview"
                                      @@click="handlePictureCardPreview(file)">
                                    <i class="el-icon-zoom-in"></i>
                                </span>
                                <span class="el-upload-list__item-delete"
                                      @@click="handleRemove(file)">
                                    <i class="el-icon-delete"></i>
                                </span>
                            </span>
                        </div>
                    </el-upload>
                </el-form-item>
                <el-form-item label="商品详情" prop="SPDetails">
                    <div contenteditable="true" ref="SPDetails" class="eidt_div">

                    </div>
                </el-form-item>
            </el-form>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button @@click="DialogForm.visible = false" v-bind:loading="DialogForm.loading">取 消</el-button>
            <el-button type="primary" @@click="sumbitAddData" v-bind:loading="DialogForm.loading">确 定</el-button>
        </span>
    </el-dialog>

</el-container>




<el-dialog v-bind:visible.sync="DialogForm.dialogVisible">
    <img style="width:100%;" v-bind:src="DialogForm.dialogImageUrl" alt="">
</el-dialog>

@section scripts{
    <script>
        $.extend(vue_data, {
            SearchModel: {
                SPName: ''
            },
            MainData: [],
            DialogForm: {
                visible: false,
                title: '',
                Form: {
                    SPID: 0
                   , SPName: ''
                   , SPRemark: ''
                    , SPImg: []
                    , SPUnitPrice: 0.01
                    , SPStock: 1
                },
                dialogImageUrl: '',
                dialogVisible: false,
                showAddImage: true,
                loading: false
            },
            editRules: {
                SPName: [
                { required: true, message: '请输入商品名称', trigger: 'blur' },
                { min: 3, max: 64, message: '长度在 3 到 64 个字', trigger: 'blur' }
                ],
                SPStock: [
                     { required: true, message: '请输入库存', trigger: 'blur' },
                     { type: 'integer', min: 1, max: 5555555, message: '库存不能小于0', trigger: 'blur' },
                ],
                SPUnitPrice: [
                     { required: true, message: '请输入单价', trigger: 'blur' },
                     { type: 'number', min: 0.01, max: 5555555, message: '不能小于0.01', trigger: 'blur' },
                ]

            },
            editEntity: {}

        });


        $.extend(vue_methods, {
            onfileChange: function (file, files) {
                if (files.length + this.DialogForm.Form.SPImg.length > 4) {
                    $(".addimage_icon").parent().hide();
                } else {
                    $(".addimage_icon").parent().show();
                }
            },
            handleRemove: function (file) {
                var files = this.$refs.upLoadFiles.uploadFiles;
                for (var i = 0; i < files.length; i++) {
                    if (file.uid == files[i].uid) {
                        files.splice(i, 1);
                        this.onfileChange(file, files);
                        break;
                    }
                }
            },
            handlePictureCardPreview(file) {
                this.DialogForm.dialogImageUrl = file.url;
                this.DialogForm.dialogVisible = true;
            },
            onSearch: function () {
                var self = this;
                self.pageLoading = true;
                $.cutPost('@Url.Action("onSearch")', { SPName: this.SearchModel.SPName }, function (msg) {
                    self.MainData = msg.Data;
                }, null, function () {
                    self.pageLoading = false;
                })
            },
            onCloseEditDialog: function (done) {
                done();
            },
            sumbitAddData: function () {
                var self = this;
                self.$refs.DialogForm.validate(function (ok) {
                    if (!ok) {
                        return;
                    }
                    self.DialogForm.loading = true;
                    var files = self.$refs.upLoadFiles.uploadFiles;
                    var imgs = [];
                    if (files.length > 0) {
                        for (var i = 0; i < files.length; i++) {
                            $.fileToBase64({ files: [files[i].raw] }, function (f) {
                                imgs.push(f[0]);
                            }, true);
                        }
                    }


                    var t = setInterval(function () {
                        if (imgs.length != files.length) {
                            return;
                        }
                        imgs = imgs.concat(self.DialogForm.Form.SPImg);

                        clearInterval(t);
                        var o = $.extend(true, {}, self.DialogForm.Form);
                        o.SPImg = JSON.stringify(imgs);

                        if (imgs.length == 0) {
                            delete o.SPImg;
                        }
                        o.SPDetails = self.$refs.SPDetails.innerHTML;
                        $.cutPost('@Url.Action("onSaveData")', { entity: JSON.stringify(o) }, function (msg) {

                            if (o.SPID == 0) {
                                o.SPID = msg.Data;
                                self.MainData.push(o);

                            } else {
                                self.editEntity = $.extend(self.editEntity, o);
                                self.editEntity.SPImg = o.SPImg || "[]";
                            }
                            self.DialogForm.visible = false;
                            self.$message.success("保存成功!");
                        }, null, function () {
                            self.DialogForm.loading = false;
                        });

                    }, 1000);
                });
            },
            onAdd: function () {
                var self = this;
                this.editEntity = null;
                self.DialogForm.visible = true;
                self.DialogForm.Form = {
                    SPID: 0
                   , SPName: ''
                   , SPRemark: ''
                    , SPImg: []
                    , SPUnitPrice: 0.01
                    , SPStock: 1
                }
                self.DialogForm.title = "添加商品";
                if (self.$refs.upLoadFiles && self.$refs.upLoadFiles.uploadFiles)
                    self.$refs.upLoadFiles.uploadFiles.length = 0;
                self.$nextTick(function () {
                    self.$refs.SPDetails.innerHTML = '';
                });
            },
            onEdit: function (row) {

                this.onAdd();
                this.editEntity = row;
                var self = this;
                var f = self.DialogForm.Form;
                self.$nextTick(function () {
                    self.DialogForm.title = "编辑商品";

                    for (var i in f) {
                        if (i == "SPImg") {
                            if (row[i]) {
                                f[i] = JSON.parse(row[i]);
                            }
                        } else {
                            f[i] = row[i];
                        }

                    }
                    self.$refs.SPDetails.innerHTML = row.SPDetails;

                });

            },
            offLine: function () {
                var self = this;
                self.pageLoading = true;

                $.cutPost('@Url.Action("offLine")', null, function (msg) {
                    self.$message({
                        message: '已成功退出!',
                        type: 'success',
                        onClose: function () {
                            top.location = '@Url.Action("Index")';
                        }
                    });
                    self.$message.success("注销成功!");
                }, null, function () {
                    
                });
            }


        });
    </script>
}